.c-section {
  &--home {
    outline: none;

    .c-carousel {
      position: relative;

      .swiper-button-next,
      .swiper-button-prev {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        z-index: 100;
        height: 80px;
      }

      .swiper-button-prev {
        left: 20px;
      }

      .swiper-button-next {
        right: 20px;
      }
    }

    .c-carousel-slide {
      height: 400px;
      background-image: url("../../assets/images/example.jpg");
      color: white;
      text-align: center;
      padding: 20px;

      h3 {
        color: white;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .c-section {
    &--home {
      .c-carousel-slide {
        height: 500px;

        h3 {
          color: yellow;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .c-section {
    &--home {
      .c-carousel-slide {
        height: 700px;

        h3 {
          color: skyblue;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .c-section {
    &--home {
      .c-carousel-slide {
        height: 900px;

        h3 {
          color: tomato;
        }
      }
    }
  }
}
