<template>
  <form @submit.prevent="submit()" class="container">
    <h1>Servicio: {{ serviceTitle }}</h1>
    <div class="c-form-group mb-4" :class="{ 'c-form-group--error': $v.name.$error }">
      <label class="c-form-group__label">Name</label>
      <input class="c-form-group__input" v-model="$v.name.$model"/>

      <span class="c-form-group__error" v-if="!$v.name.required">El nombre esta vacío</span>
    </div>

    <div class="c-form-group mb-4">
      <label class="c-form-group__label">Servicios</label>

      <select v-model="service">
        <option value="" selected disabled>Seleccionar servicio</option>
        <option value="Uñas">Uñas</option>
        <option value="Cabello">Cabello</option>
        <option value="Masajes">Masajes</option>
      </select>
    </div>

    <div class="c-form-group mb-4" :class="{ 'c-form-group--error': $v.age.$error }">
      <label class="c-form-group__label">Age</label>
      <input class="c-form-group__input" type="number" v-model="$v.age.$model"/>

      <span class="c-form-group__error" v-if="!$v.age.required">La edad esta vacía</span>
    </div>

    <div class="c-form-group mb-4" :class="{ 'c-form-group--error': $v.email.$error }">
      <label class="c-form-group__label">Correo</label>
      <input class="c-form-group__input" v-model="$v.email.$model"/>

      <span class="c-form-group__error" v-if="!$v.email.isEmail">El correo es incorrecto</span>
    </div>

    <button>Enviar</button>
  </form>
</template>

<script>
import { required, helpers } from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      name: '',
      age: '',
      email: '',
      service: '',

      serviceTitle: '',
    };
  },
  validations: {
    name: {
      required,
    },
    age: {
      required,
    },
    email: {
      isEmail: helpers.regex('isEmail', /.+@.+\..+/),
    },
  },
  watch: {
    $route() {
      this.cargarServicio();
    },
  },
  mounted() {
    this.cargarServicio();
  },
  methods: {
    cargarServicio() {
      if (this.$route.query.service === 's1') {
        this.serviceTitle = 'Servicio de uñas';
        this.service = 'Uñas';
      } else if (this.$route.query.service === 's2') {
        this.serviceTitle = 'Servicio de cabello y planchado';
        this.service = 'Cabello';
      }
    },
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        alert('Formulario llenado ok!!');
      }
    },
  },
};
</script>
