<template>
  <section class="c-section c-section--home">
    <div class="container">
      <section class="py-5 h-100 text-center">
        <h1 data-aos="zoom-in" class="w-bold">
          <Icon icon="line-md:github" />
          Welcome to Panda WP
          <Icon icon="line-md:beer-twotone-loop" />
        </h1>
        <router-link to="example">Example</router-link>
        <figure data-aos="zoom-in">
          <img alt="Vue logo" src="@/assets/images/logo.png">
        </figure>
      </section>

      <p>
        <router-link to="/form?service=s1">Ver servcio de uñas</router-link>
      </p>

      <p>
        <router-link to="/form?service=s2">Ver servcio de cabello</router-link>
      </p>

      <button @click="date = 'lunes'">15 de Abril</button>

      <ul>
        <li
          v-for="item of hours"
          :key="item"
        >
          <button>{{ item.hora }}</button>
        </li>
      </ul>

      <section class="p-4">
        <h2 class="fs-21 mb-3 text-center">Basic Panda WP Form</h2>

        <div>
          <input v-model="title" type="text" placeholder="Titulo" />
          <input v-model="phone" type="text" placeholder="Phone" />
          <input v-model="email" type="text" placeholder="Email" />

          <button @click="guardar()">Enviar</button>
        </div>
      </section>
    </div>

    <div class="c-carousel">
      <div class="swiper micarousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="c-carousel-slide">
              <h3>Welcome to my website</h3>
              <p>Lorem, ipsum dolor sit amet consectetur</p>
              <a href="" class="c-button c-button--primary">
                Ver mas
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="c-carousel-slide">
              <h3>Welcome to my website</h3>
              <p>Lorem, ipsum dolor sit amet consectetur</p>
              <a href="" class="c-button c-button--primary">
                Ver mas
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next">
          <Icon icon="material-symbols:arrow-forward-ios" />
        </div>
        <div class="swiper-button-prev">
          <Icon icon="material-symbols:arrow-back-ios-new" />
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="container">
      <div class="c-carousel">
        <div class="swiper micarousel2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="c-carousel-slide">
              </div>
            </div>
          </div>
          <div class="swiper-button-next">
            <Icon icon="material-symbols:arrow-forward-ios" />
          </div>
          <div class="swiper-button-prev">
            <Icon icon="material-symbols:arrow-back-ios-new" />
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { Swiper, Pagination, Navigation } from 'swiper';

export default {
  data() {
    return {
      title: '',
      phone: '',
      email: '',

      carousel: null,
      carousel2: null,

      slide: 0,
      sliding: null,

      date: '',

      hours: [],
    };
  },
  watch: {
    date(value) {
      this.getHoursByDay(value);
    },
  },
  mounted() {
    setTimeout(() => {
      this.carousel = new Swiper('.micarousel', {
        modules: [Pagination, Navigation],

        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });

      this.carousel = new Swiper('.micarousel2', {
        modules: [Pagination, Navigation],

        slidesPerView: 1,
        spaceBetween: 10,

        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 20,
          },
        },
      });
    }, 100);
  },
  methods: {
    guardar() {
      const form = new FormData();

      form.append('title', this.title);
      form.append('phone', this.phone);
      form.append('email', this.email);

      fetch('http://citas.site/wp-json/custom/v1/citas', {
        method: 'POST',
        body: form,
      })
        .then((res) => res.json())
        .then((response) => {
          console.log(response);
        });
    },
    getHoursByDay(day) {
      fetch(`http://citas.site/wp-json/custom/v1/citas/hours?day=${day}`, {
        method: 'GET',
      })
        .then((res) => res.json())
        .then((response) => {
          this.hours = response.data;
        });
    },

    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    },
  },
};
</script>
